.photo {
    width: 100px;
    height: 100px;
    
}

.usersArea {
    padding: 20px;
}

.selectedPage {
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.counter {
    padding: 10px;
}

.usersCount {
    padding: 5px;
}

.toggleLoader {
    padding-left: 700px;
    width: 100px;
}

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 1px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    color: aliceblue;
}