.header {
  grid-area: h;
  background-color: rgb(113, 108, 134);
}

.header img {
  width: 70px;
  padding: 12px;
}

.loginBlock {
  float: right;
  padding: 10px;
  color: white;
}

.loginButton {
  color: aliceblue;
}