.appWrapper {
  display: grid;
  background-color: rgb(196, 193, 204);
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n c";
}

.appWrapperContent {
    grid-area: c;
    background-color: rgb(126, 123, 141);
}
